body {
    width: 100%;
}

.header {
    width: 100%;
    height: 500px;
    /* display: flex; */
    padding-top: 10px;
    justify-content: space-around;
    /* flex-direction: column; */
    background-image: url("../img/left.png"), url("../img/right.png");
    background-position: 0 100%, 100% 0;
    background-repeat: no-repeat;
}

.header img {
    height: 35px;
}

.header ul {
    list-style-type: none;
    display: flex;
}

.header ul li {
    margin-left: 15px;
    color: #143F5F;
}

h3 {
    color: #0E9AFF;
}

button {
    height: 40px;
}

.div1 {
    line-height: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
}

main h1 {
    color: #0E9AFF;
    font-weight: bold;
    margin-top: 50px;
}

main h6 {
    color: #143F5F;
}

.styles {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.input-group input[type='text'] {
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

main {
    text-align: center;
    margin: 0 auto;
}

.col-auto {
    margin-top: 35px;
}

main h6, main p {
    margin-top: 15px;
}

main h1 {
    margin-bottom: 25px;
}

article {
    padding: 30px 20%;
    margin: 0px auto;
    text-align: center;
    background-color: #F3F4F5;
}

.row {
}

.proWorks button, .latestRecruitm button, nav button {
    padding: 0 40px;
    margin: 20px 0;
    /* width: 20%; */
}

.latestRecruitm {
    background-color: #F3F4F5;
}

.latestRecruitmContainer {
    display: flex;
    justify-content: center;
}

.latestRecruitmContainer table td {
    padding: 5px 10px 0px 30px;
    height: 40px;
    width: 270px;
    border-bottom: 1px solid gray
}

.latestRecruitm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latestRecruitmContainer table button {
    width: 175px;
}

h2, h5 {
    margin-top: 25px;
    color: #143F5F;
}

.cars {
    width: 280px;
    height: 280px;
    background-color: transparent;
    box-shadow: 0px 0px 6px 1px #46a5c28c;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 15px;
}

.articleListContainer {
    width: 900px;
    height: 380px;
    margin: 0 auto;
    margin-top: 30px;
}

.articleListContainer img {
    margin-bottom: 15px;
    height: 100px;
}

.latestRecruitmContainer table {
    background-color: #ffffff;
    margin-top: 15px;
    padding-bottom: 10px;
}

nav {
    background-color: #F3F4F5;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    background-image: url("../img/Group23.png"), url("../img/Group24.png");
    background-position: 0 100%, 100% 0;
    background-repeat: no-repeat;
}

footer {
    background-color: #143F5F;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    /* display: flex; */
    padding-top: 10px;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li, footer p {
    color: whitesmoke;
    font-weight: normal;
}

footer h3 {
    color: white;
}

footer ul li {
    margin-right: 100px;
}

.categories {
    height: auto;
    width: 99.9%;
    background-color: #F3F4F5;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    padding: 20px 200px;
}

.categories div {
    background-color: #ffffff;
    padding: 15px 20px;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #bababa8a;
    margin: 5px;
    text-align: center;
    line-height: 20px;
}

.card-body-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: rgba(70, 70, 70, 0.747);
    /* border-bottom: 1px solid gray; */
}

.card-body-item p {
    height: 20px;
}

.card-body-item h6 {
    margin-right: 10px;
}

.card-item h5 {
    margin-top: 7px;
    font-size: 17px;
}

.card-item {
    text-align: left;
    height: 320px;
    width: 220px;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 15px;
    margin-right: 10px;
    box-shadow: 0 0 8px 0 #9e9e9edc;
    border-radius: 5px;
    padding-bottom: 0;
}

.proWorks {
    width: 98%;
    padding-left: 20px;
    padding-right: 0;
    margin: 0 auto;
}

.display {
    display: none;
}

.mouseEvent {
    position: relative;
}

#my-menu {
    position: absolute;
}

.my-menu-item {
    background-color: #143F5F;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    padding-right: 0;
    margin-top: 25px;
}

.my-menu-item a {
    color: #ffffff;
    font-size: 15px;
    margin: 5px;
    margin-right: 0;
    width: 100px;
}

a:hover {
    text-decoration: none;
}

.my-menu-item a:hover {
    background-color: transparent;
    color: rgb(189, 189, 189);
    text-decoration: none;
}