body {
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(196, 255, 196, 0.411);
}

.main {
    background-color: rgba(214, 255, 210, 0.671);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
}

.card {
    width: 280px;
    height: 230px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 60px;
    background-color: rgba(158, 255, 60, 0.452);
    padding: 10px;
    margin: 10px;
    line-height: 30px;
}

img {
    height: 40px;
}

a {
    margin-left: 20px;
    text-decoration: none;
}

#map {
    height: 50vh;
}

.position {
    /* position: fixed;
    top: 50%;
    right: 0; */
    /* position: -webkit-sticky; */
    position: fixed;
    top: 50%;
    left: 0;
    /* position: absolute;
  background: yellow;
  top: 30px;
  left: 30px; */
}