body {
    margin: 0;
    background-color: rgba(237, 215, 250, 0.699);
}

select {
    height: 30px;
    width: 30%;
}

form {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-right: 0px;
}

form input, select, textarea {
    outline: none;
    border: 1.5px solid rgba(217, 164, 248, 0.699);
    box-shadow: 6px 2px 9px 0.5px rgba(216, 186, 233, 0.699);
}

form input[type=text] {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
}

form textarea {
    margin-top: 20px;
    resize: none;
    width: 50%;
    height: 20%;
}